.menu{
  background: black;
}
.banner{
  background: WhiteSmoke;
  padding: 20px;
}
.box-img{
  background: WhiteSmoke;
  padding: 15px;
  margin-top: 20px; 
}
.box-img:hover{
  background: #eee;
}
.box{
  margin-top: 20px; 
}
.noticia{
  padding: 10px;
}
.noticia p{ 
 color: DodgerBlue;
}
.noticia:hover{
  background: #eee;
}
.ft-g{   
  background: #111;
}
.ft-b{
  padding: 10px;
  background: black;
  color: white; 
  text-align: center;
}
